.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgb(248, 251, 250);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
